.container {
    padding: 20px;
    margin: 20px;
    border: 1px solid #aaa;
    border-radius: 20px;

    .image {
        width: 100px;
        height: 100px;
    }

    .title {
        font-size: 24px;
        font-weight: bold;
    }
    .desc {
        font-size: 14px;
    }
    .price {
        font-size: 40px;
    }

    .show-details {
        padding: 5px;

        &.active {
            background: green;
        }
    }

    .additional {

    }
}
